<h2>Results index</h2>

<table class="table table-hover">
  <% if @range == 'User' %>
    <tbody>
      <% @user.each do |user| %>
        <%= render 'users/index', users: @user%>
      <% end %>
    </tbody>
  <% end %>
</table>